<div class="input-numeric-mask">
  <div class="input-numeric-mask__label">
    <span>label</span>
    <ng-content select="*[slot=labelSuffix]"></ng-content>
  </div>
  <div class="input-numeric-mask__input-wrapper">
    <input #input *ngFor="let inputMetadata of inputsMetadata"
           [type]="hideValue ? 'password' : 'numeric'"
           maxlength="1"
           [disabled]="inputMetadata.disabled"
           [placeholder]="inputMetadata.disabled ? '•' : '_'"
           (input)="setValue(inputMetadata.position, $event.target)"
           (keydown.backspace)="handlerKeyup(inputMetadata.position)"
    >
    <button (click)="hideValue=!hideValue">{{hideValue ? 'Show' : 'Hide'}}</button>
  </div>
</div>
