:host {
  .input-numeric-mask {

    &__label {
      padding: 0 8px;

      span {
        margin-right: 8px;
      }
    }

    &__input-wrapper {
      display: flex;
      padding: 8px;

      input {
        border: none;
        outline: none;
        width: 16px;
        text-align: center;
        height: 30px;
        font-size: 16px;

        -moz-appearance: textfield;

        &:disabled {
          background-color: white;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }
}
